.product {
  position: relative;
  top: 3vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-gray-200);
  height: 37vh;
  width: 20vw;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



.image-section {
  position: relative;
  top: 3vh;
  margin: 0 auto;
  transition: 0.2s linear;
}

.product-img {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 8vw;
  border-radius: 30px;
  object-fit: cover;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 10px;
  background: rgba(0, 0, 0, 0.6);
  color: #9b9bae;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  opacity: 0;
}

.image-overlay:hover {
  opacity: 0.7;
}

.image-zoom-text{
  font-size: 0.8rem;
  font-weight: 600;
  color: #ffffff;
}

.product-description {
  position: relative;
  top: 5vh;
  width: 97%;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
  
  
  text-align: center;
  margin: 0 auto;
}

.product-description-text{
  font-size: 1rem;
  position: relative;
  top: 0.5;
  height: 5vh;
  
}

.image-section:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.dialog {
  position: fixed;
  top: 200px;
  height: 500px;
  border-radius: 30px;
  z-index: 4;
}

.popup-image {
  position: relative;

  top: -1vh;
  width: 100%;
  
  border-radius: 30px;
  z-index: 4;
}

.close-icon {
  position: absolute;
  border: none;
  background-color: #fff;
  font-size: 30px;
  font-weight: 600;
  width: 30px;
  top: 30px;
  left: 90%;
  cursor: pointer;
  z-index: 5;
}

.card-button-container{
  position: relative;
  top: 1vj;
}

.add-to-cart-button {
  position: relative;
  top: 4vh;
  appearance: button;
  background-color: var(--color-pink-example);
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  border: 1px solid var(--color-pink-example);
  border-radius: 1rem;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,
    rgba(46, 54, 80, 0.075) 0 1px 1px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.5;
  margin: 0;
  padding: 0.5rem 1rem;
  text-align: center;
  text-transform: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.add-to-cart-button:focus:not(:focus-visible),
.add-to-cart-button:focus {
  outline: 0;
}

.add-to-cart-button:hover {
  background-color: var(--color-neon-example1);
  border-color: var(--color-neon-example1);
}

.add-to-cart-button:focus {
  background-color: var(--color-neon-example1);
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,
    rgba(46, 54, 80, 0.075) 0 1px 1px;
}

.add-to-cart-button:active {
  background-color: #e1e1ff;
  background-image: none;
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
}

.add-to-cart-button:active:focus {
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset,
    rgba(104, 101, 235, 0.5) 0 0 0 0.2rem;
}

.add-to-cart-button:disabled {
  background-image: none;
  box-shadow: none;
  opacity: 0.65;
  pointer-events: none;
}


/* Responsive section */

/* Width Responsiveness */

@media (max-width: 4000px) {
}

@media (max-width: 2000px) {
}

@media (max-width: 1700px) {
  .product{
    height: 33vh;
  }

  .image-zoom-text{
    font-size: 0.7rem;
  }
}

@media (max-width: 1400px) {
  .product-description-text{
    font-size: 0.9rem;
  }
}

@media (max-width: 1200px) {
  .product-img{
    width: 10vw;
    border-radius: 20px;
  }

  .image-overlay{
    border-radius: 20px;
  }

  .add-to-cart-button{
    font-size: 0.9rem;
    padding: 0.5rem 0.7rem;
    
  }

  .card-button-container{
    top: 2.5vh;
  }


}

@media (max-width: 1024px) {
  .product-description-text{
    font-size: 0.8rem;
  }
}

@media (max-width: 960px) {

  .product-img{
    width: 12vw;
    border-radius: 20px;
  }

  .image-overlay{
    border-radius: 20px;
  }

  .card-button-container{
    top: 2vh;
  }

  .popup-image{
    width: 95%;
    left: 3%;

  }

  .close-icon{
    left: 85%;
  }

  


}

@media (max-width: 768px) {

  .product{
    height: 32vh;
    width: 30vw;
  }

  .product-img{
    width: 17vw;
    
  }

  .add-to-cart-button{
    font-size: 0.7rem;
    padding: 0.5rem 0.7rem;
    
  }

  .card-button-container{
    top: -0.6vh;
  }

  .image-zoom-text{
    font-size: 0.6rem;
  }

  


}

@media (max-width: 600px) {

  .product-img{
    width: 18vw;
    
  }

  .card-button-container{
    top: 1vh;
  }

  .image-zoom-text{
    font-size: 0.55rem;
  }

  .close-icon{
    font-size: 25px;
    
  }


}

@media (max-width: 480px) {

  .product{
    height: 25vh;
    
  }

  .product-img{
    width: 18vw;
    
  }

  .product-description-text{
    font-size: 0.7rem;
  }

  .card-button-container{
    top: -1vh;
  }

  .add-to-cart-button{
    font-size: 0.6rem;
    padding: 0.5rem 0.6rem;
    
  }

  .close-icon{
    font-size: 20px;
    
  }


}

@media (max-width: 400px) {

  .product-img{
    width: 20vw;
    
  }

  .add-to-cart-button{
    font-size: 0.5rem;
    padding: 0.5rem 0.4rem;
    
  }

  .product-description-text{
    font-size: 0.6rem;
  }

  .card-button-container{
    top: 0;
  }

  .image-zoom-text{
    font-size: 0.5rem;
  }


}

@media (max-width: 320px) {

  .image-zoom-text{
    font-size: 0.4rem;
  }

  .close-icon{
    top: 10px;
    font-size: 18px;
    
  }


}




/* <------------------------------> */

/* Height Responsiveness */

@media (max-height: 2000px) {
}

@media (max-height: 800px) {
}

@media (max-height: 700px) {
}

@media (max-height: 600px) {
}

@media (max-height: 500px) {
}

@media (max-height: 450px) {
}

@media (max-height: 320px) {
}

@media (max-height: 250px) {
}

