.product{
    position: relative;
    top: 10vh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-gray-200);
    height: 39vh;
    width: 31%;
    border-radius: 30px;
  
  
}

.product-img{
    position: relative;
    top: 3vh;
    margin: 0 auto;
    width: 7vw;
    border-radius: 30px;
}

.product-description{
    position: relative;
    top: 5vh;
    text-align: center;
    margin: 0 auto;
}

