* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .cart-item {
    position: relative;
    top: 10vh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-gray-200);
    height: 300px;
    width: 200px;
    border-radius: 30px;
    
  }

  .description{
    position: relative;
    top: 5vh;
    width: 90%;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8rem;
    text-align: center;
    
  }

  .count-handler{
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    margin-top: 2.1vh;
    
    gap: 10px;
  }

  .cart-item-button{
    position: relative;
    top: 0;
    height: 20px;
    width: 20px;
    appearance: button;
    background-color: var(--color-pink-example);
    background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.15),
      rgba(255, 255, 255, 0)
    );
    border: 1px solid var(--color-pink-example);
    border-radius: 1rem;
    box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,
      rgba(46, 54, 80, 0.075) 0 1px 1px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: "Courier New", Courier, monospace;
    font-weight: 500;
    font-size: 0.5rem;
    font-weight: 800;
    line-height: 1.5;
    margin: 0;
    
    text-align: center;
    text-transform: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;

  }

  .cart-item-button:hover {
    background-color: var(--color-neon-example1);
    border-color: var(--color-neon-example1);
  }

  .cart-item-button:active {
    background-color: #e1e1ff;
    background-image: none;
    box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
  }

  .c_i_input{
    
   
    border: 1px solid #fff;
    height: 20px;
    background-color: var(--color-pink-example);
    border-radius: 2px;
    width: 50px;
    text-align: center;
  }

  .c_i_input:hover {
    background-color: var(--color-neon-example1);
  }
  
  .c_i_input:focus {
    outline: none;
    background-color: var(--color-neon-example1);
  }


  