* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cart-item {
  position: relative;
  left: 5vw;
  top: 3vh;
  width: 30vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  background-color: var(--color-gray-200);
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cart-item-image-section{
  position: relative;
  left: 1vw;
  display: flex;
  align-items: center;

}

.cart-item-img {
  position: relative;
  margin: 0 auto;
  width: 4vw;
  border-radius: 20px;
}

.description {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 20vw;
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  text-align: center;
  padding: 20px;
}

.count-handler {
  position: relative;
  right: 1vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5vw;
 
}

.cart-item-button {
  position: relative;
  top: 0;
  height: 20px;
  width: 20px;
  appearance: button;
  background-color: var(--color-pink-example);
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  border: 1px solid var(--color-pink-example);
  border-radius: 1rem;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,
    rgba(46, 54, 80, 0.075) 0 1px 1px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
  font-size: 0.5rem;
  font-weight: 800;
  line-height: 1.5;
  margin: 0;
  text-align: center;
  text-transform: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.cart-item-button:focus:not(:focus-visible),
.cart-item-button:focus {
  outline: 0;
}

.cart-item-button:hover {
  background-color: var(--color-neon-example1);
  border-color: var(--color-neon-example1);
}

.add-to-cart-button:active {
  background-color: #e1e1ff;
  background-image: none;
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
}

.cart-item-button:focus {
  background-color: var(--color-pink-example);
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,
    rgba(46, 54, 80, 0.075) 0 1px 1px;
}

.cart-item-button:disabled {
  background-image: none;
  box-shadow: none;
  opacity: 0.65;
  pointer-events: none;
}

.c_i_input {
  border: 1px solid #fff;
  height: 20px;
  background-color: var(--color-pink-example);
  border-radius: 2px;
  width: 50px;
  text-align: center;
}

.c_i_input:hover {
  background-color: var(--color-neon-example1);
}

.c_i_input:focus {
  outline: none;
  background-color: var(--color-neon-example1);
}



/* Responsive section */

/* Width Responsiveness */

@media (max-width: 4000px) {
  .description {
    padding: 35px;
  }
}

@media (max-width: 2000px) {
  .cart-item-img{
    width: 4.5vw;
    border-radius: 20px;
  }

}

@media (max-width: 1700px) {
  .cart-item-img{
    width: 5vw;
    border-radius: 20px;
  }

  .description{
    font-size: 0.8rem;
    
  }
}

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {

  .cart-item-img{
    width: 5.5vw;
    
  }

}

@media (max-width: 1024px) {


}

@media (max-width: 960px) {
  .cart-item{
    width: 50vw;

    margin: 0 auto;
    left: 0;
    }

    .cart-item-img{
      width: 8vw;
      
    }

    .description{
      padding: 1px;
    }
    
    

}

@media (max-width: 768px) {


}

@media (max-width: 480px) {


}

@media (max-width: 400px) {


}

@media (max-width: 320px) {


}




/* <------------------------------> */

/* Height Responsiveness */

@media (max-height: 2000px) {
}

@media (max-height: 800px) {
}

@media (max-height: 700px) {
}

@media (max-height: 600px) {
}

@media (max-height: 500px) {
}

@media (max-height: 450px) {
}

@media (max-height: 320px) {
}

@media (max-height: 250px) {
}

