* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.shopping-cart-body {
  background-color: var(--color-pink-example);
  height: 100vh;
}

.sc-h1 {
  position: relative;
  top: 12vh;
  text-align: center;
  color: #fff;
  z-index: 3;
}

.cart-items-container {
  position: relative;
  top: 15vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--color-gray-100);
  width: 80%;
  height: 80vh;
  margin: 0 auto;
  gap: 15px;
  border-radius: 30px;
}

.checkout-container {
  position: relative;

  margin: 0 auto;
  left: 40%;
}

.checkout {
  position: relative;
  display: flex;
  flex-direction: column;

  top: -100px;

  text-align: center;
  width: 30vw;
  height: 5vw;
  background-color: var(--color-pink-example);
  border-radius: 20px;
  gap: 10px;
}

.cart-item-img {
  position: relative;
  top: 3vh;
  margin: 0 auto;
  width: 5vw;
  border-radius: 30px;
}

.empty-cart-text {
  position: relative;
  top: -60vh;
  left: 50px;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
  font-size: 1.5rem;
}

.subtotal-text {
  position: relative;
  top: 10px;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  color: #ffffff;
}

.button-container{
    position: relative;
    top: -10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    
   
    margin: 0 auto;
}

.checkout-button {
  position: relative;
  top: 20px;

  appearance: none;
  background-color: var(--color-gray-200);

  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  height: 40px;
  min-width: 0;
  outline: none;

  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 150px;

  will-change: transform;
}

.checkout-button:disabled {
  pointer-events: none;
}

.checkout-button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.checkout-button:active {
  box-shadow: none;
  transform: translateY(0);
}
