* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.shopping-cart-body {
  background-color: var(--color-pink-example);
  height: 100vh;
}

.sc-h1 {
  position: relative;
  top: 12vh;
  text-align: center;
  color: #fff;
  z-index: 3;
}

.cart-items-container {
  position: relative;
  top: 15vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--color-gray-100);
  width: 75%;
  height: 65vh;
  margin: 0 auto;
  gap: 15px;
  border-radius: 30px;
}



.checkout {
  position: relative;
  top: 18vh;
  margin: 0 auto;
  border: 3px solid var(--color-gray-100);

  display: flex;
  flex-direction: column;

  text-align: center;
  width: 20vw;
  height: 12vh;
  background-color: var(--color-pink-example);
  border-radius: 20px;
  gap: 10px;
}

.sc-h1{
  font-family: 'Courier New', Courier, monospace;
  color: #fff;
  
}

.empty-cart-text {
  position: relative;
  display: flex;
  justify-content: center;
  top: -50vh;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
  font-size: 1.5rem;
}

.subtotal-text {
  position: relative;
  top: 20px;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  color: #ffffff;
}

.button-container {
  position: relative;
  top: -1vh;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 0 auto;
}


/* Responsive section */

/* Width Responsiveness */

@media (max-width: 4000px) {
}

@media (max-width: 2000px) {
}

@media (max-width: 1700px) {
}

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {

}

@media (max-width: 1024px) {


}

@media (max-width: 960px) {

 

  .shopping-cart-body{
    height: 150vh;
    

  }

  .cart-items-container{
    height: 110vh;
    margin: 0 auto;
    
  }

}

@media (max-width: 768px) {


}

@media (max-width: 480px) {


}

@media (max-width: 400px) {


}

@media (max-width: 320px) {


}




/* <------------------------------> */

/* Height Responsiveness */

@media (max-height: 2000px) {
}

@media (max-height: 800px) {
}

@media (max-height: 700px) {
}

@media (max-height: 600px) {
}

@media (max-height: 500px) {
}

@media (max-height: 450px) {
}

@media (max-height: 320px) {
}

@media (max-height: 250px) {
}

