* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.landing-body {
  background-color: var(--color-pink-example);
  height: 20vh;
  display: flex;

  justify-content: center;
  margin-top: 100px;
}

.cards-section{
  position: relative;
  height: 140vh;
  background-color: var(--color-pink-example);
}

.lp-h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.7rem;
  margin-top: 80px;
  color: #fff;
}

.updated-data{
  position: relative;
color: #fff;
  margin: 0 auto;
  width: 100px;
  height: 10px;
  text-align: center;
}

.products-section {
  position: relative;
  top: 10vh;
  left: 10vw;
  width: 70%;

  height: 200vh;
  gap: 50px;
  background-color: #4dcebc;
}

.products-h1 {
  position: relative;
  top: 5vh;
  text-align: center;
  color: #fff;
}


.cards-container {
    position: relative;
    top: 1vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--color-gray-100);
    width: 80%;
    height: 130vh;
    margin: 0 auto;
   
    grid-column-gap: 35px;
   
    border-radius: 30px;
     
  }

/* Responsive section */

/* Width Responsiveness */

@media (max-width: 4000px) {
}

@media (max-width: 2000px) {
}

@media (max-width: 1700px) {
}

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {

}

@media (max-width: 1024px) {

  .cards-container{
    top: -2vh;
  }

  .lp-h1{
    font-size: 2rem;
  }
}

@media (max-width: 960px) {

}

@media (max-width: 768px) {

  .cards-section{
    height: 190vh;
  }


  .lp-h1{
    font-size: 1.7rem;
  }

  .cards-container{
    height: 185vh;
  }
  


}

@media (max-width: 480px) {

  .cards-section{
    height: 160vh;
  }

  .lp-h1{
    font-size: 1.3rem;
  }
  
  .cards-container{
    height: 150vh;
  }



}

@media (max-width: 400px) {
  .lp-h1{
    font-size: 1rem;
  }

}

@media (max-width: 320px) {

  .lp-h1{
    font-size: 0.7rem;
  }


}




/* <------------------------------> */

/* Height Responsiveness */

@media (max-height: 2000px) {
}

@media (max-height: 800px) {
}

@media (max-height: 700px) {
}

@media (max-height: 600px) {
}

@media (max-height: 500px) {
}

@media (max-height: 450px) {
}

@media (max-height: 320px) {
}

@media (max-height: 250px) {
}

