.landing-body{
    background-color: #A95EA3;
    height: 20vh;
}





.landing-body{
    display: flex;
    justify-content: row;
    justify-content: center;
    margin-top: 100px;
}


.lp-h1{
    margin-top: 100px; 
    color: #fff; 
}

.products-section{
    position: relative;
    top: 20vh;
    width: 70%;

    height: 200vh;
    gap: 30px;
    background-color: #4dcebc;
  

}

.products-h1{
    position: relative;
    top: 5vh;
    text-align: center;
    color: #fff;
}