* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.landing-body {
  background-color: var(--color-pink-example);
  height: 20vh;
  display: flex;

  justify-content: center;
  margin-top: 100px;
}

.cards-section{
  position: relative;
  height: 140vh;
  background-color: var(--color-pink-example);
}

.lp-h1 {
  font-family: 'Courier New', Courier, monospace;
  margin-top: 80px;
  color: #fff;
}

.products-section {
  position: relative;
  top: 10vh;
  left: 10vw;
  width: 70%;

  height: 200vh;
  gap: 50px;
  background-color: #4dcebc;
}

.products-h1 {
  position: relative;
  top: 5vh;
  text-align: center;
  color: #fff;
}


.cards-container {
    position: relative;
    top: 1vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--color-gray-100);
    width: 80%;
    height: 130vh;
    margin: 0 auto;
    gap: 15px;
    border-radius: 30px;
    
    
    
    
  }
